$theme-colors: (
    "primary": #012250,
);

$form-label-color:#2c3d4f;
$form-label-font-weight:500;
$headings-color:#2c3d4f;

$xs-screen-size: 576px;
$md-screen-size: 768px;
$lg-screen-size: 992px;
$xl-screen-size: 1200px;